{% set apt_cacher_ng = salt['grains.filter_by']({
    'Debian': {
        'server_address': 'localhost',
        'server_bind_address': '0.0.0.0',
        'server_port': '3142',
        'server_extra_config': '',
        'server_config': '/etc/apt-cacher-ng/zzz_acng.conf',
        'server_cache_dir': '/var/cache/apt-cacher-ng',
        'server_log_dir': '/var/log/apt-cacher-ng',
        'user': 'apt-cacher-ng',
        'group': 'apt-cacher-ng',
        'pkg': 'apt-cacher-ng',
        'service': 'apt-cacher-ng',
        'credentials': '/etc/apt-cacher-ng/security.conf',
        'client_config': '/etc/apt/apt.conf.d/80proxy',
        'admin_account': 'root',
        'admin_passwd': 'admin'
    },
}, merge=salt['pillar.get']('apt_cacher_ng')) %}
