apt_cacher:
  host: cacher.mycompany.com
  admin_email: admin@mycompany.com
  group: www-data
  user: www-data
  #ip for upstream connection
  interface: 10.10.0.1

apt_cacher_ng:
  # Setting up server_address is the minimal configuration requirement.
  # Others options has default sane values (see map.jinja).
  # server_address is the address access by apt-cacher-ng clients.
  # It could be an IPv4 or a FQDN; This address MUST be resolvable by clients.
  server_address: pkgproxy.example.com

  # Server binds to this address.
  # It could be the same value as server_address (in most cases).
  server_bind_address: 192.168.33.10

  server_port: 3142
  server_cache_dir: /var/cache/apt-cacher-ng
  server_log_dir: /var/log/apt-cacher-ng
  server_extra_config: |
    # Workaround apt-cacher-ng 500 Invalid header
    # https://lists.alioth.debian.org/pipermail/apt-cacher-ng-users/2013-September/000082.html
    ReuseConnections: 0

  # Credentials for apt-cacher-ng Web management interface.
  # http://<server_adress>:<server_port>/acng-report.html
  admin_account: root
  admin_passwd: admin
